
<% @artists.each do |artist| %>
  <div class='artist-border' >
    <div class='artist-box'>
      <h1>Name: <%= link_to artist.name, artist_path(artist) %></h1>
      <p>Age: <%= artist.age %></p>
      <p>Bio: <br><%= artist.bio %></p>
    </div>
  </div>
<% end %>

